/* color palette */
:root {
  --color-white: #ffffff;
  --color-green: #4CAF50;
  --color-green-warm: #80BB00;
  --color-red: #EC5937;
  --color-brown: #4E3000;
  --color-gray: #737373;
  --color-gray-light: #C4C4C4;
  --color-gray-light-2: #E9E9E9;
  --color-gray-dark: #666666;
  --color-black-alpha: rgba(0, 0, 0, 0.3);
  --color-black: rgb(0, 0, 0);

  --border-radius-s: 20px;
  --border-radius-m: 30px;

  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-text-secondary: var(--color-brown);
  --color-text-inversed: var(--color-white);
  --color-input-placeholder: var(--color-gray);
  --color-table-heading: var(--color-brown);

  --color-success: var(--color-green-warm);
  --color-danger: var(--color-red);

  --bg-color-button-primary: var(--color-green);
  --bg-color-button-secondary: var(--color-gray);
  /* --bg-color-button-tertiary: var(--color-gray-light); */

  --bg-color-tab-active: var(--color-gray-light);

  --border-radius-modal-content: var(--border-radius-m);
  --border-radius-button: var(--border-radius-s);

  --border-color-table-heading: var(--color-gray-light-2);

  --box-shadow-input: var(--box-shadow);
  --box-shadow-button: var(--box-shadow);

}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    'Open Sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}